{% extends 'music/base.html' %}

{% block title %}Artists{% endblock %}

{% block content %}
    <h1>Artists</h1>
    <ul>
        {% for artist in artists %}
            <li>
                <a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a>
                {% if artist.photo %}
                    <img src="{{ artist.photo.url }}" alt="{{ artist.name }}" width="100">
                {% endif %}
            </li>
        {% empty %}
            <li>No artists available.</li>
        {% endfor %}
    </ul>
{% endblock %}
